In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('/deal_or_no_deal/data/Deal or No Deal Data.xlsx')

In [4]:
df.head()

,Season,Episode,Contestant ID,Data,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Winnings,Notes,Unnamed: 12
0,1,1,1,25.0,0.01,200.0,5.0,400,5000.0,21000.0,NaN,NaN,NaN
1,1,1,1,750000.0,1000000.00,100.0,750.0,400000,37000.0,NaN,NaN,NaN,NaN
2,1,1,1,50.0,10.00,100000.0,75000.0,53000,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1000.0,1.00,200000.0,77000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,1,10000.0,300000.00,63000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
from deal_or_no_deal.preprocess import preprocess_historical_case_data

In [6]:
case_data_df = preprocess_historical_case_data(df)

case_data_df.head()

,case_0.01,case_1.0,case_5.0,case_10.0,case_25.0,case_50.0,case_75.0,case_100.0,case_200.0,case_300.0,...,case_300000.0,case_400000.0,case_500000.0,case_750000.0,case_1000000.0,round_got_better,round,expected_value,offer,percentage_difference
0,1,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,170639.300000,21000.0,0.123067
1,1,0,1,0,1,0,0,1,1,0,...,0,1,0,1,1,1,2,84129.066667,37000.0,0.439800
2,1,0,1,1,1,1,0,1,1,0,...,0,1,0,1,1,1,3,98806.909091,53000.0,0.536400
3,1,1,1,1,1,1,0,1,1,0,...,0,1,0,1,1,1,4,110734.375000,77000.0,0.695358
4,1,1,1,1,1,1,0,1,1,0,...,1,1,0,1,1,1,5,95979.166667,63000.0,0.656392

In [7]:
case_data_df_subset = case_data_df.drop(columns='offer')

## Train the `BankerModel`

In [8]:
from deal_or_no_deal.model import BankerModel

In [9]:
banker_model = BankerModel()

In [10]:
X = case_data_df_subset.drop(columns='percentage_difference').values
y = case_data_df_subset['percentage_difference'].values

In [11]:
banker_model.fit(X, y)

Fitting linear model...
Fitting XGBoost model...

In [12]:
banker_model.save('/deal_or_no_deal/data/banker_model_0906.pkl')

-----